<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   AppCenter-Config.plist
   SnakeGame

   Created by minh thu  on 11/5/23.
   Copyright (c) 2023 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
  <dict>
    <key>AppSerect</key>
    <string>0dd8b6e7-c78a-4ff0-b41c-af7b1bb9e352</string>
  </dict>
</plist>
